#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'  # Runs every night at 02:00 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: false

jobs:
  duckdb-stable-build:
    name: Build extension binaries
    uses: rustyconover/extension-ci-tools/.github/workflows/_extension_distribution.yml@7f82158a4942eab836bf5f6b08a03d8b91b33937
    with:
      duckdb_version: main
      extension_name: airport
      ci_tools_version: 7f82158a4942eab836bf5f6b08a03d8b91b33937
      extra_toolchains: parser_tools
      exclude_archs: "wasm_mvp;wasm_eh;wasm_threads;"
      vcpkg_binary_sources: ${{ vars.VCPKG_BINARY_SOURCES }}
      test_env_vars: "{ \"AIRPORT_CI_URL\": \"grpc+tls://airport-ci.query.farm\" }"
    secrets:
      VCPKG_CACHING_AWS_ACCESS_KEY_ID: ${{ secrets.VCPKG_CACHING_AWS_ACCESS_KEY_ID }}
      VCPKG_CACHING_AWS_SECRET_ACCESS_KEY: ${{ secrets.VCPKG_CACHING_AWS_SECRET_ACCESS_KEY }}
      VCPKG_CACHING_AWS_ENDPOINT_URL: ${{ secrets.VCPKG_CACHING_AWS_ENDPOINT_URL }}
      VCPKG_CACHING_AWS_DEFAULT_REGION: ${{ secrets.VCPKG_CACHING_AWS_DEFAULT_REGION}}


  # duckdb-stable-deploy:
  #   name: Deploy extension binaries
  #   needs: duckdb-stable-build
  #   uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@main
  #   secrets: inherit
  #   with:
  #     duckdb_version: main
  #     extension_name: airport
  #     ci_tools_version: main
  #     deploy_latest: ${{ startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main' }}
  #     exclude_archs: "wasm_mvp;wasm_eh;wasm_threads;windows_amd64_rtools"
